{{/* Enhanced Schema.org structured data for academic profile */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://robertjdellinger.github.io/#person",
  "name": "Robert J. Dellinger",
  "givenName": "Robert J.",
  "familyName": "Dellinger",
  "url": "https://robertjdellinger.github.io",
  "image": "https://robertjdellinger.github.io/authors/admin/Avatar.png",
  "jobTitle": "PhD Student",
  "worksFor": {
    "@type": "EducationalOrganization",
    "name": "University of California, Los Angeles",
    "url": "https://www.atmos.ucla.edu/",
    "department": {
      "@type": "Organization",
      "name": "Department of Atmospheric and Oceanic Sciences"
    }
  },
  "alumniOf": [
    {
      "@type": "EducationalOrganization",
      "name": "California State University, Northridge"
    },
    {
      "@type": "EducationalOrganization",
      "name": "University of California, Davis"
    }
  ],
  "knowsAbout": [
    "Marine Biogeochemistry",
    "Ocean Acidification",
    "Climate Change",
    "Coral Reefs",
    "Physiological Ecology",
    "Environmental Justice"
  ],
  "sameAs": [
    "https://twitter.com/RJ_Dellinger",
    "https://github.com/robertjdellinger",
    "https://www.linkedin.com/in/robertjdellinger/",
    "https://scholar.google.com/citations?user=lxtnDm4AAAAJ&hl",
    "https://orcid.org/0009-0009-3524-4041"
  ],
  "email": "rjdellinger@ucla.edu"
}
</script>
