{{/* Structured data (JSON-LD) built from site params. Keep personal data in config. */}}
{{ $author := .Site.Params.author | default dict }}
{{ $social := .Site.Params.social | default dict }}
{{ $sameAs := slice }}
{{ with $social.twitter }}{{ $sameAs = $sameAs | append .url }}{{ end }}
{{ with $social.github }}{{ $sameAs = $sameAs | append .url }}{{ end }}
{{ with $social.linkedin }}{{ $sameAs = $sameAs | append .url }}{{ end }}
{{ with $social.orcid }}{{ $sameAs = $sameAs | append .url }}{{ end }}

{{ $person := dict
    "@context" "https://schema.org"
    "@type" (default "Person" .Site.Params.seo.site_type)
    "name" (or $author.name .Site.Title)
    "url" (or .Site.BaseURL "")
    "image" (or .Site.Params.seo.open_graph.image .Site.Params.default_image)
    "jobTitle" (or $author.jobTitle "")
    "worksFor" (cond (isset $author "affiliation") (dict "@type" "Organization" "name" $author.affiliation) nil)
    "sameAs" $sameAs
}}

<script type="application/ld+json">
{{ $person | jsonify | safeJS }}
</script>
